:root {
    --grid-cols: 3;
    --grid-rows: 3;
}
.game{
    display: flex;
}
.grid{
    width: 350px;
    height: 350px;
    margin: auto;
    display: grid;
     grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr); 
}

.bottom{
    border-bottom: 1px solid black;
}
.right{
    border-right: 1px solid black;
}